.card1 {
    background: rgb(219, 252, 200);
    
    margin: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 30px;
}

.card1 ol {
    
    color: #86898f ;
}


.card1 li {
  
    padding-bottom: 10px;
    
}